<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <h1 align='center'>Task List</h1><hr>
    <table border="2" align="center">
        <tr>
            <th>Author</th><th>Title</th><th>Description</th><th>Buttons</th>{% for task in tasks %}
            <tr>  
                <td>
                    {{task.user_name}}
                </td> 
                <td>
                    {{task.title}}
                </td> 
                <td>
                    {{task.description}}
                </td> 
                <td>
                    <a href="{% url 'update-task' task.id %}">update</a> <a href="{% url 'delete-task' task.id %}">delete</a> <a href="{% url 'create-user' %}">add</a>

                </td> 
                
               
            </tr>     
        {% endfor %}
        </tr>
          
    </table>
</body>
</html>