<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <h1 align='center'>Welcome</h1><hr>
        <table border="2" align="center">
            <tr>
                <td>
                    {{form.as_p}}
                    <center><input type="submit" name="submit" align='center'></center>

                </td>
            </tr>
        </table>

    </form>
    
</body>
</html>